[Desktop Entry]
Exec=kcmshell5 klassydecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration2/klassydecoration
X-KDE-ParentApp=kcontrol
X-KDE-Weight=50

Name=Klassy: Window Decoration

X-KDE-Keywords=klassy,decoration
