[Desktop Entry]
Name=Shell
Name[ca]=Shell
Name[de]=Flow
Name[es]=Shell
Name[nl]=Shell
Name[pt]=Consola
Name[sv]=Skal
Name[uk]=Оболонка
Name[x-test]=xxShellxx

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Lucas Andrade
X-KDE-PluginInfo-Email=luwx@hotmail.com.br
X-KDE-PluginInfo-License=CC-BY-SA-4.0
