[Desktop Entry]
Name=Altai

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Alesya Khoteeva
X-KDE-PluginInfo-Email=alesyahoteeva@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
