[Desktop Entry]
Name=Milky Way

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Metal Bender
X-KDE-PluginInfo-Email=universalemail.gm@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
