[Desktop Entry]
Comment=Breeze Twilight by the KDE VDG
Comment[ca]=Brisa crepuscular, creat pel VDG del KDE
Comment[da]=Breeze Twilight af KDE's visuelle designgruppe
Comment[el]=Breeze του λυκόφωτος από το KDE VDG
Comment[es]=Brisa crepúsculo por KDE VDG
Comment[et]=Breeze videvik KDE VDG-lt
Comment[it]=Brezza crepuscolo a cura del VDG di KDE
Comment[nl]=Breeze Twilight door de KDE VDG
Comment[pt]=Brisa da Madrugada da VDG do KDE
Comment[sl]=Sapica ob mraku s strani KDE VDG
Comment[sv]=Breeze skymning av KDE:s visuella designgrupp
Comment[uk]=Сутінкова Breeze, автори — KDE VDG
Comment[x-test]=xxBreeze Twilight by the KDE VDGxx
Name=Breeze Twilight
Name[ca]=Brisa crepuscular
Name[da]=Breeze twilight
Name[el]=Breeze του λυκόφωτος
Name[es]=Brisa crepúsculo
Name[et]=Breeze videvik
Name[it]=Brezza crepuscolo
Name[nl]=Breeze Twilight
Name[pt]=Brisa da Madrugada
Name[sl]=Sapica ob mraku
Name[sv]=Breeze skymning
Name[uk]=Сутінкова Breeze
Name[x-test]=xxBreeze Twilightxx
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.breezetwilight.desktop
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://www.kde.org
X-Plasma-MainScript=defaults
X-KDE-PluginInfo-License=GPLv2+
