[Desktop Entry]
Comment=Light theme with panel at the bottom
Name=Klassy Light - Bottom Panel
X-KDE-PluginInfo-Author=Paul A McAuley
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=kde@paulmcauley.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=org.kde.klassylightbottompanel.desktop
X-KDE-PluginInfo-Version=5
X-KDE-PluginInfo-Website=https://github.com/paulmcauley/klassy
X-KDE-ServiceTypes=Plasma/LookAndFeel
