[Desktop Entry]
Exec=kcmshell5 classikstylesstyleconfig
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kstyle_classikstyles_config
X-KDE-ParentApp=kcontrol
X-KDE-Weight=50

Name=ClassikStyles: Widget Style

X-KDE-Keywords=classikstyles,widget,style
