[Desktop Entry]
Exec=kcmshell5 klassystyleconfig
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kstyle_klassy_config
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Klassy: Widget Style

X-KDE-Keywords=klassy,widget,style
