#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Exec=klassy-settings %f
TryExec=klassy-settings
Name=Klassy Settings
Icon=klassy-settings
Categories=Settings
